<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>

            </div>
        </div>
    </div>

    <div class="board">
        <button (click)="addBoard()" mat-fab extended color="primary">
            <mat-icon>add</mat-icon>
        </button>
        <mat-tab-group>
            @for (board of boards; track board) {
                <mat-tab label={{board.name}}>
                    <div bind-attr.data-boardIndex=$index class="board-bar">
                        <div *ngIf=!nameEdit><p class="board-name">{{board.name}}</p></div>
                        <div *ngIf=nameEdit class="example-full-width">
                            <form class="example-form">
                                <mat-form-field>
                                  <input 
                                    (input)="setNewName($event)"
                                    matInput 
                                    placeholder="Enter Board Name" 
                                    value={{board.name}}>
                                </mat-form-field>
                            </form>
                            <button 
                                (click)="saveName()"
                                mat-mini-fab color="accent"
                                aria-label="Save icon Button">
                                    <mat-icon>save</mat-icon>
                            </button>
                        </div>
                        <button (click)="toggleNameEdit()" mat-fab color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div> 
                    <div class="board-wrapper">
                        <div class="board-columns" cdkDropListGroup>
                            @for (column of board.columns; track column) {
                                <div class="board-column">
                                    <div class="column-title">
                                        {{ column.name }}
                                        <div class="example-button-container">
                                            <button 
                                                mat-mini-fab color="primary" 
                                                aria-label="Example icon button with a menu icon" 
                                                (click)="addTask($index)">
                                              <mat-icon>add</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div 
                                        cdkDropList
                                        [cdkDropListData]="column.tasks"
                                        class="tasks-container"
                                        (cdkDropListDropped)="drop($event)"
                                        bind-attr.data-columnIndex=$index>
                                        @for (task of column.tasks; track task) {
                                            <app-task-card 
                                                [column]="column.name" 
                                                [index]="$index" 
                                                [task]="task" 
                                                [board]="board">
                                            </app-task-card>
                                        }
                                    </div>
                                </div>
                              }
                        </div>
                    </div>
                </mat-tab>
            }
          </mat-tab-group>
    </div>
</div>
