<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>

            </div>
        </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                @for (column of board.columns; track column) {
                    <div class="board-column">
                        <div class="column-title">
                            {{ column.name }}
                            <div class="example-button-container">
                                <button 
                                    mat-mini-fab color="primary" 
                                    aria-label="Example icon button with a menu icon" 
                                    (click)="addTask($index)">
                                  <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div 
                            cdkDropList
                            [cdkDropListData]="column.tasks"
                            class="tasks-container"
                            (cdkDropListDropped)="drop($event)"
                            bind-attr.data-columnIndex=$index>
                            @for (task of column.tasks; track task) {
                              <div class="task" cdkDrag>
                                    <mat-form-field class="example-full-width">
                                        <input
                                            (input)="handleChange($index, column.name)"
                                            bind-attr.data-columnName="inputColumn(column.name)"  
                                            bind-attr.data-index=$index  
                                            matInput
                                            id="{{column.name}}-{{$index}}"
                                            placeholder="Enter a task..."
                                            value={{task}}>
                                    </mat-form-field>
                                    <div class="example-button-container">
                                        <button 
                                            class="hidden"
                                            #saveBtn
                                            (click)="onSubmit(column.name, $index)"
                                            bind-attr.data-columnName="inputColumn(column.name)" 
                                            bind-attr.data-index=$index 
                                            mat-mini-fab color="accent" 
                                            aria-label="Example icon button with a filter list icon">
                                          <mat-icon>save</mat-icon>
                                        </button>
                                    </div>
                                    <div class="example-button-container">
                                        <button 
                                            (click)="removeTask(column.name, $index)"
                                            bind-attr.data-columnName="inputColumn(column.name)" 
                                            bind-attr.data-index=$index 
                                            mat-mini-fab color="warn" 
                                            aria-label="Example icon button with a filter list icon">
                                          <mat-icon>remove</mat-icon>
                                        </button>
                                    </div>
                              </div>
                            }
                        </div>
                    </div>
                  }
            </div>
        </div>
    </div>
</div>

                <!-- <div class="board-column">
                    <div class="column-title">
                        Ideas
                    </div>
                    <div
                        cdkDropList
                        #ideaList="cdkDropList"
                        [cdkDropListData]="ideas"
                        [cdkDropListConnectedTo]="[researchList, todoList, doneList]"
                        class="tasks-container"
                        (cdkDropListDropped)="drop($event)">
                        @for (item of ideas; track item) {
                          <div class="task" cdkDrag>{{item}}</div>
                        }
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        Research
                    </div>
                    <div
                        cdkDropList
                        #researchList="cdkDropList"
                        [cdkDropListData]="research"
                        [cdkDropListConnectedTo]="[ideaList, todoList, doneList]"
                        class="tasks-container"
                        (cdkDropListDropped)="drop($event)">
                        @for (item of research; track item) {
                            <div class="task" cdkDrag>{{item}}</div>
                        }
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        Todo
                    </div>
                    <div
                        cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="todo"
                        [cdkDropListConnectedTo]="[ideaList, researchList, doneList]"
                        class="tasks-container"
                        (cdkDropListDropped)="drop($event)">
                        @for (item of todo; track item) {
                            <div class="task" cdkDrag>{{item}}</div>
                        }
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        Done
                    </div>
                    <div
                        cdkDropList
                        #doneList="cdkDropList"
                        [cdkDropListData]="done"
                        [cdkDropListConnectedTo]="[ideaList, researchList, todoList]"
                        class="tasks-container"
                        (cdkDropListDropped)="drop($event)">
                        @for (item of done; track item) {
                            <div class="task" cdkDrag>
                                {{item}}
                                <mat-icon 
                                    (click)="handleClick($event)" 
                                    aria-hidden="false" 
                                    aria-label="Example home icon" 
                                    fontIcon="home">
                                </mat-icon>
                            </div>
                        }
                    </div>
                </div> -->
